*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Metropolis';
    /* background: #F5F5F5; */
    background-color:  #F5F5F5;
  
  }
  li{
    text-decoration: none;
  }
  header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #FFFFFF;;
    color: #ffff;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    
  }
  .logo{
    cursor: pointer;
    margin-top: 10px;
    
  }
  .img2{
    padding-top: 10px;
  }
  .center-element{
    display: flex;
    
  }
  .box-container{
    margin: auto;
    margin-top: 10px;
    position: relative;
    width: 400px;
    height: 40px;
    border: 1px solid #8E8E93;
    border-radius: 23px;
  
  }
  .element{
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .sec-car{
    width: 100%;
    overflow: hidden;
  }
  .search{
    border: none;
    background: none;
    padding-top: 9px;
    padding-left: 20px;
    font-size: 16px;
  }
  .search:focus{
    outline: none;
  }
  .side-button{
    margin-left: 10px;
    margin-top: 10px;
  }
  .side-button button{
    width: 40px;
    height: 40px;
    border: 1px solid #8E8E93;
    border-radius: 12px;
    background: none;
    cursor: pointer;
    
  }
  .nav_link{
    list-style: none;
    margin-top: 30px;
  }
  .nav_link li{
    display: inline-block;
    padding: 0px 20px;
  }
  /* --------------------------- navbar css ---------------------------------------------*/
  /* sidebar */
  .sidebar{
    position: absolute;
    left: 0;
    width: 415px;
    height: 660px;
    background: #FFFFFF;
  }
  .profile{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 122px;
    margin-right: 48px;
  }
  .imageprofile{
    /* background-color: brown; */
    height: 60px;
    
  }
  .img1{
    border-radius: 50px;
    width: 99px;
  }
  .profile-det{
    /* background-color: blue; */
    /* width: 100%;
    height: 100px; */
    margin-top: 19px;
    margin-left: 13px;
  }
  .nameP{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
  }
  .pen{
    width: 16px;
    height: 16px;
  }
  .editP{
    padding-top: 1px;
    padding-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
  }
  .link-profile{
    display: flex;
    justify-content: flex-start;
    margin-top: 69px;
    margin-left: 120px;
  }
  .imag2, .imag3{
    margin-top: 30px;
  }
  .namelink{
    padding-left: 14px;
  }
  .namelink a{
    text-decoration: none;
  }
  .namelink a:hover{
    color: #6d5c5c;
  }
  .nameli2, .nameli3{
    margin-top: 15px;
  }
  .nameli1 a{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
  } 
  .nameli2 a, .nameli3 a{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
  }
  
  .nameli1{
    padding-bottom: 0;
    padding-top: 5px;
  }
  .nameli2{
    padding-bottom: 0;
    padding-top: 5px;
  }
  .nameli3{
    padding-top: 10px;
  }
  /* -------------------------------------------------------------- */
  .mainCard{
    position: absolute;
    margin-top: 50px;
    margin-left: 350px;
    width: 840px;
    height: 600px;
}
.headCard{
    background: #ffff !important;
}
nav{
    
    margin: 20px auto 0;
    width: 100%;
    height: 30px;
    font-size: 0;
}
nav a{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none !important;
    color: #9B9B9B;
    position: relative;
    z-index: 1;
    text-align: center;
 
}
nav a.active{
    border-bottom: 2px solid #DB3022;
    color: #DB3022; 
}
.a1{
    margin-left: 50px;
}

nav a:hover,
nav a:active{
    border-bottom: 2px solid #DB3022;
    color: #DB3022;   
}
.mineOrder{
    padding-top: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;

}
/* ---------------------------------------------- */
.dropbutton{
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
    background: none !important;
  }
  /* ------------------------------------------------- */
  .searchbar{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;

  }
  .searchbar input{
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 23px;
    width: 230px;
    height: 36px;
    padding-left: 30px;
  }
    /* ------------------------------------------------- */
.centerImage{
        
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 50px;
    /* border: 1px solid black; */
}
.centerImage img{
    width: 100%;
    height: 50%;
}
